body {
  background-color: #ffa07a;
}

.index_header {
  background-color: #bbbbbb;
  text-align: center;
  padding: 20px;
  border-radius: 30%/60%;
}

img.center {
  max-width: 100%;
  width: 90%;
  height: auto;
  display: block;
  padding-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}

h3.footer {
  text-align: center;
}

#sales_report {
  text-align: center;
  background-color: #bbbbbb;
  margin-bottom: 10px;
}

.locations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
}

table, th, td {
  background-color: #bbbbbb;
  border: 1px solid #005387;
}
