
h3 {
  text-align: center;
  /*margin: 10px 0px 10px 0px;*/
}

body {
  background-color: #ffa07a;
  /*padding: 4px;*/
}

.highlight {
  font-family: 'Cinzel Decorative', cursive;
  color: #0b1d2e;
}

.data {
  font-family: Tahoma, Geneva, sans-serif;
}

#pats {
  font-size: 2em;
  /*margin-bottom: 0.2em;*/
}

#tagline {
  /*margin-top: 0;*/
}

.index_header {
  background-color: #aaaaaa;
  color: #0b1d2e;
  font-size: 1.5em;
  text-align: center;
  border-radius: 30px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

img.center {
  max-width: 100%;
  width: 460px;
  height: auto;
  display: block;
  /*padding-bottom: 5%;*/
  margin-left: auto;
  margin-right: auto;
}

.sidebar {
  background-color: #aaaaaa;
  color: #0b1d2e;
  border-radius: 15px;
  margin-bottom: 20px;
}

.about_salmon_cookies {
    background-color: #aaaaaa;
    border-radius: 15px;
    margin-bottom: 20px;
}

.about_salmon_cookies p {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #0b1d2e;
  line-height: 1.4em;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #bbbbbb;
}

.location_data {
  color: #0b1d2e;
  font-weight: normal;
  list-style: none;
}

#index_footer {
  clear: left;
  width: 940px;
  height: 39px;
  margin-top: 20px;
  margin-left: 10px;
  background-color: #aaaaaa;
  border-radius: 15px;
}

footer>section {
  text-align: center;
  margin-top: 10px;
}

#sales_report {
  text-align: center;
  background-color: #aaaaaa;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
}

h3~ul {
  color: #005387;
  font-weight: bold;
  display: block;
}

 {
  display: inline;
}

table, th, td {
  background-color: #bbbbbb;
  border: 1px solid #005387;
}

form {
  background-color: #aaaaaa;
  color: #0b1d2e;
  font-weight: bold;
  padding: 20px;
  border-radius: 15px;
}

label {
  display: block;
  width: 240px;
  float: left;
}
